body {
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

#navbar {
    background-color: #6F6AF7;
    color: #ffffff;
    width: calc(100% - 40px);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
}

#navbar #main-text {
    font-family: "Delius Unicase", cursive;
    cursor: pointer;
    font-size: xx-large;
}

#navbar #nav-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: large;
}

#navbar #nav-items li {
    list-style: none;
    cursor: pointer;
}

#nav-items li>img {
    width: 8px;
    margin-left: 2px;
}

#nav-items li #search-bar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 60px;
    padding: 7px 5px;
}

#search-bar input {
    background: transparent;
    border: none;
    outline: none;
}

#search-bar button img {
    width: 15px;
}

#search-bar button {
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

#navbar>img {
    width: 30px;
    cursor: pointer;
}

#side-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    float: right;
    margin-top: 10%;
}

#side-bar>img {
    width: 50px;
    margin: 1px;
    cursor: pointer;
}

#main-section {
    display: flex;
    justify-content: flex-end;
    margin: 70px auto;
}

#main-section>img {
    width: 30%;
}

#main-section>textarea {
    width: 55%;
    background-color: #E5D8FF;
    border-radius: 20px;
    margin: 20px 30px 20px 20px;
    border: 6px solid #FFFFFF;
    outline: none;
    box-shadow: 3px 5px 27px 0px #00000040 inset;
}

#main-section>textarea[placeholder] {
    line-height: 25px;
    font-family: "DM Sans", sans-serif;
    padding: 20px;
    word-spacing: 3px;
    font-size: medium;
}

#overviews {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
}

#overviews .overview-items {
    width: 15%;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0px 9px 31px 0px #00000066;
    font-weight: 600;
    line-height: 15px;
}

#overviews>.first {
    background-color: #929DFF;
}

#overviews>.second {
    background-color: #734CF2;
}

#overviews>.third {
    background-color: #D288FF;
}

#overviews>.fourth {
    background-color: #000000;
}

#card {
    display: flex;
    justify-content: space-between;
    background-color: #483EFF;
    border-radius: 20px;
    width: 80%;
    height: 70vh;
    margin: 100px auto 50px;
}

#card #btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 40px;
    cursor: pointer;
}

#btn>div {
    padding: 25px 65px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
}

#btn>#info {
    background-color: #BCE0F6;
    box-shadow: 0px 6px 35px 0px #00000063;
}

#btn>#bookmark {
    color: #ffffff;
    border: 2px solid #ffffff;
}

#btn>#setting {
    color: #ffffff;
    border: 2px solid #ffffff;
}

#card>#info-card {
    background-color: #FFFFFF;
    color: #04285A;
    margin: 15px;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    position: relative;
    letter-spacing: 3px;
    font-size: larger;
}

#info-card>#details {
    margin-left: 15px;
    letter-spacing: 2px;
    line-height: 50%;
}

#details>h5>span {
    font-weight: lighter;
    font-size: smaller;
    letter-spacing: 1px;
}

#info-card>button {
    font-family: 'Roboto' sans-serif;
    font-weight: lighter;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}

#support-logo {
    position: fixed;
    bottom: -20px;
    right: 30px;
    width: 8%;
    cursor: pointer;
}